authentik:
  authentik:
    secret_key: "file:///secrets/secretkey/secret_key"
    # This sends anonymous usage-data, stack traces on errors and
    # performance data to sentry.io, and is fully opt-in
    error_reporting:
      enabled: false
    postgresql:
      host: postgres.postgres.svc.cluster.local
      port: 5432
      name: authentik
      user: authentik
      password: file:///secrets/postgres/password

  server:
    ingress:
      enabled: false
    volumes:
      - name: postgresql
        secret:
          secretName: authentik-postgres
          items:
            - key: password
              path: password
      - name: secretkey
        secret:
          secretName: authentik-secretkey
          items:
            - key: secret_key
              path: secret_key
    volumeMounts:
      - name: postgresql
        mountPath: /secrets/postgres
        readOnly: true
      - name: secretkey
        mountPath: /secrets/secretkey
        readOnly: true

  worker:
    volumes:
      - name: postgresql
        secret:
          secretName: authentik-postgres
          items:
            - key: password
              path: password
      - name: secretkey
        secret:
          secretName: authentik-secretkey
          items:
            - key: secret_key
              path: secret_key
    volumeMounts:
      - name: postgresql
        mountPath: /secrets/postgres
        readOnly: true
      - name: secretkey
        mountPath: /secrets/secretkey
        readOnly: true

  global:
    env:
      - name: AUTHENTIK_LISTEN__TRUSTED_PROXY_CIDRS
        value: 10.96.0.0/12
